<div>
    <%= form_with url: '/home/new', method: 'post' do |form| %>
        <div>
            <%= form.text_field :text, value: @text, placeholder: "helloworld" %>
        </div>
        <div>
            <%= form.submit "submit" %>
        </div>
    <% end %>
    <div><%= @result %></div>
</div>
